body
{
  width:100%;
  height:100vh;
  margin:0;
  background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),url("https://cdn.pixabay.com/photo/2016/05/05/02/37/sunset-1373171__480.jpg");
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  background-attachment:fixed;
  color:white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;

}

h1,p
{
    margin: 1em auto;
    text-align: center;
}

h1
{
    margin-bottom: -2px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 2px;
}

form
{
    
    max-width: 750px;
    min-width: 300px;
    margin: 0 auto;
    padding: 10px;
    /* background-color: #1b1b32; */
    background: linear-gradient(135deg, rgba(27, 27, 50, 0.9), rgba(46, 46, 77, 0.9));
    border-radius: 12px;
    

}

fieldset
{
    padding: 1rem;
    border:none;
}

label
{
    display: block;
    margin: 2rem;
    margin-bottom: 1.5rem;
}

input,select,textarea
{
    margin: 10px 0 0 0;
    width: 100%;
    min-height: 35px;
    background-color: white;  
    border: 1px solid #0a0a23;
    color: black;

}

input,textarea
{
    font-size: 18px;
    padding: 3px;
}

input[type='text']:focus,input[type='email']:focus,input[type='number']:focus,textarea:focus {
    outline: none; /* Remove the default focus outline */
    border: 2px solid #007bff; /* Example border color */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Example box shadow */
  }


input,select
{
    border-radius: 5px;
}

::placeholder
{
    margin-left: 10px;
    margin: 10px;
    text-indent: 5px;
}

select
{
    height: 4vh;
    width: 100%;
    padding: 3px;
    min-height: 2em;
}

#dropdown
{
    padding: 8px;
    font-size: 20px;
    border: 1px solid #0a0a23;
    color: black;

}

option
{
    padding: 8px;
    font-size: 20px;
    border: 1px solid #0a0a23;
    color: black;
}

.inline
{
    width: unset;
    margin: -1.5rem 1rem 1.5rem 3px;
    vertical-align: middle;
    margin-bottom: -20px;
    
}

input[type='checkbox'],input[type='radio']
{
   
    height: 40px;
    width: 20px;
}

input[type='submit']
{
    display: block;
    width: 92%;
    margin: 1.5em;
    height: 2em;
    font-size: 1.1em;
    min-width: 300px;
    background-color: greenyellow;
    color: darkblue;
    
}

input[type='submit']:hover
{
   
    background-color: #1b1b32;
    color: white;
    box-shadow: 0px 0px 5px rgba(201, 201, 201, 0.3);
}